<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
    </script>
    <title>Document</title>
</head>
<body>
    
    <div id="my-app">
        Name : <input type="text" placeholder="Enter name" v-model="fname">
        Last Name: <input type="text" placeholder="Enter Last Name" v-model="lname">
         <br>
         <h4>Full name: <input type="text" 
            v-model="fullname">
         </h4>
    </div>

  <script src="app.js"></script>
</body>
</html>